/* Styles clock.css - Author: Shantonu Debnath */


/* Reset */


html, body {
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
}


/* Font */


@font-face {
		font-family: "SFProDisplay-Light";
		src: url("../font/SF-Pro-Display-Light.eot");
		src: url("../font/SF-Pro-Display-Light.eot?#iefix")format("embedded-opentype"), url("../font/SF-Pro-Display-Light.woff") format("woff"), url("../font/SF-Pro-Display-Light.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
}

/* Clock styles */



* {
		margin: 0;
		padding: 0;
		list-style: none;
		text-decoration: none;
		border: none;
		outline: none;
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		list-style: none;
		text-decoration: none;
		line-height: normal;
}

body {
		overflow: hidden;
		font-family: "SFProDisplay-Light", Arial, Helvetica, sans-serif;
		-ms-text-size-adjust: 100%;
		-webkit-text-size-adjust: 100%;
		color:#fff;
		background-color: #fff;
		background-position: 0 0;
		padding: 0px;
		height:auto;
		background-repeat:no-repeat;
}

.wrapper {
		width: 370px;
		height: 370px;
}

.day {
		text-align: center;
		font-size: 30px;
		position: absolute;
		width: 100%;
		top: 20px;
		letter-spacing: 0.03em;
		text-transform: capitalize;
		color: #fff;
		text-shadow: 1px 1px 2px #000000;
}

.month {
		text-align: right;
		font-size: 33px;
		letter-spacing: 0.03em;
		position: fixed;
		right: 20px;
		bottom: 20px;
		text-transform: capitalize;
		color: #fff;
		text-shadow: 1px 1px 2px #000000;
}

.year {
		text-align: right;
		font-weight: 200;
		font-size: 13px;
		position: absolute;
		width: 75px;
		right: 20px;
		bottom: 65px;
		letter-spacing: 0.03em;
		text-transform: capitalize;
		color: #fff;
		text-shadow:1px 1px 1px #000000;
}

#hour {
		position:relative;
		top:125px;
  float:left;
  left:52%;
}

#hour .clock {
	font-family: "SFProDisplay-Light";
	position: relative;
 left:-50%;
 float: left;
	font-size:85px;
	text-align:center;
	letter-spacing:0.01em;
	text-shadow:1px 1px 2px #000000;
	width:auto;
	margin:0px;
	text-align:center;
}

#hour .seconds p{
		font-family: "SFProDisplay-Light";
		float:left;
		position:relative;
		text-align:center;
		font-size:22px;
		letter-spacing:0.01em;
	 text-shadow:1px 1px 2px #000000;
}

#hour .seconds {
		font-family: "SFProDisplay-Light";
		position:relative;
		left: -50%;
		float:left;
		text-align:center;
		font-size:22px;
	 letter-spacing:0.01em;
	 text-shadow:1px 1px 2px #000000;
		width:40px;
		margin-top:60px;
}

.date {
		text-align: right;
		font-size: 36px;
		letter-spacing: 0.02em;
		position: fixed;
		left: 20px;
		bottom: 18px;
		color: #534c98;
}

.text_shadow{
		text-shadow:1px 1px 1px #000000;
}

.line_top {
		position: absolute;
		top: 0px;
		height: 4px;
		width: 100%;
		background-color: #fff;
}

.line_bottom {
		position: absolute;
		height: 4px;
		bottom: 0px;
		width: 100%;
		background-color: #fff;
}

.line_left {
		position: absolute;
		left: 0px;
		width: 4px;
		height: 100%;
		background-color: #fff;
}

.line_right {
		position: absolute;
		right: 0px;
		width: 4px;
		height: 100%;
		background-color: #fff;
}

/* Back button */

.back_bt {
		display: none;
		font-family: Roboto, Arial, Helvetica, sans-serif;
		font-size: 15px;
		font-weight: 400;
		cursor: pointer;
		position: relative;
		float: left;
		left: 0px;
		top: 3px;
		color: #d0d0d0;
		background-image: url(../svg/left-arrow_grey.svg);
		background-repeat: no-repeat;
		background-size: 20px 20px;
		background-position: 0px 0px;
		width: 20px;
		height: 20px;
		margin-left: 0px;
		z-index: 3;
}

.back_bt:hover {
		background-image: url(../svg/left-arrow_blue.svg);
}

.back2_bt {
		transform: rotate(180deg);
		display: none;
		font-family: Roboto, Arial, Helvetica, sans-serif;
		font-size: 15px;
		font-weight: 400;
		cursor: pointer;
		position: relative;
		float:right;
		right:15px;
		top:30px;
		color: #d0d0d0;
		background-image: url(../svg/left-arrow_grey.svg);
		background-repeat: no-repeat;
		background-size: 20px 20px;
		background-position: 0px 0px;
		width: 20px;
		height: 20px;
		margin-left: 0px;
		z-index: 3;
}

.back2_bt:hover {
		background-image: url(../svg/left-arrow_blue.svg);
}

/* Themes */

.open_themes_bt{
		cursor:pointer;
		position:absolute;
		z-index:4;
		top:25px;
	 left:20px;
		width:25px;
		height:25px;
		background-position:0px 0px;
		background-size:25px 25px;
		background-image:url(../images/theme_white.png);
}

.close_themes_bt{
		display:none;
		cursor:pointer;
		position:relative;
		margin-top:25px;
		margin-left:20px;
		float:left;
		width:25px;
		height:25px;
		background-position:0px 0px;
		background-size:25px 25px;
		background-image:url(../images/theme_blue.png);
}

.themes_modal{
		width: 100%;
		height: 100%;
		padding: 0px;
		margin: 0px;
		position: fixed;
		left: 0;
		top: 0;
		background-color:#fff;
		z-index: 2;
		overflow-y: scroll;
		overflow-x: hidden;
}

.close_themes{
	-webkit-transform: translateX(-3500px);
 -ms-transform: translateX(-3500px);
 transform: translateX(-3500px);
}

.open_themes {
	-webkit-transform: translateX(0px);
 -ms-transform: translateX(0px);
 transform: translateX(0px);
}


.themes_modal::-webkit-scrollbar {
 width:5px;
 background-color:#fff;
}

.themes_modal::-webkit-scrollbar-thumb {
 background-color:#c1c1c1;
}

.themes_modal::-webkit-scrollbar {
 width:5px;
 background-color:#fff;
}

.themes_modal::-webkit-scrollbar-thumb {
 background-color:#c1c1c1;
}

.themes_modal h2 {
		font-family:"SFProDisplay-Light", Arial, Helvetica, sans-serif;
		font-weight:400;
	 letter-spacing:0.03em;
		color:#2252ff;
		font-size:21px;
		text-indent:-45px;
		letter-spacing:0.03em;
		text-align:center;
		margin-bottom: 20px;
		margin-top:27px;
}

.themes_modal ul {
		width:360px;
		background-color:#F00;
		margin:0 auto;
}

.themes_modal ul li {
		float:left;
}

.themes_modal ul li a img {
		display:block;
		width:87px;
		height:87px;
		margin-left:17.5px;
		margin-right:0px;
		padding:4px;
		margin-bottom:13px;
		-webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  -moz-opacity:0.3;
  opacity:0.3;
		transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  border:#fff 1.5px solid;
}

.themes_modal ul li .check{
		position:absolute;
		z-index:3;
		margin-left:96px;
		margin-top:-12px;
		background-image: url(../images/check.png);
		background-position:0px 0px;
		background-size:29px 29px;
		background-repeat:no-repeat;
		width:29px;
		height:29px;
}

.themes_modal ul li a img.active {
	-moz-opacity:1.0;
	opacity:1.0;
 border:#0051ff 1.5px solid;

}

.themes_modal ul li a img:hover {
	cursor:pointer;
	-moz-opacity:1.0;
	opacity:1.0;
 border:#0051ff 1.5px solid;
}


/* Configuration  */


.open_configuration_bt {
		cursor:pointer;
		position:absolute;
		z-index:4;
		top:25px;
		right:20px;
		width:25px;
		height:25px;
		background-position:0px 0px;
		background-size:25px 25px;
		background-image:url(../images/configuration_white.png);
}

.close_configuration_bt {
		display:none;
		cursor:pointer;
		position:absolute;
		z-index:4;
		top:25px;
		right:20px;
		width:25px;
		height:25px;
		background-position:0px 0px;
		background-size:25px 25px;
		background-image:url(../images/configuration_blue.png);
}


.configuration_modal {
		display: none;
		width: 100%;
		height: 100%;
		padding: 0px;
		margin: 0px;
		position: fixed;
		left: 0;
		top: 0;
		background-color:#fff;
		z-index: 2;
		overflow-y: scroll;
		overflow-x: hidden;
}

.configuration_modal::-webkit-scrollbar {
 width:5px;
 background-color:#fff;
}

.configuration_modal::-webkit-scrollbar-thumb {
 background-color:#c1c1c1;
}

.configuration_modal::-webkit-scrollbar {
 width:5px;
 background-color:#fff;
}
 .configuration_modal::-webkit-scrollbar-thumb {
 background-color:#c1c1c1;
}

.configuration_modal .margin {
		margin-left: 15px;
		padding-right: 15px;
		margin-bottom: 0px;
}

.configuration_modal h2 {
		font-family:"SFProDisplay-Light", Arial, Helvetica, sans-serif;
		font-weight:400;
	 letter-spacing:0.03em;
		color:#2252ff;
		font-size:21px;
		text-indent:-9px;
		letter-spacing:0.03em;
		text-align:center;
		margin-bottom: 20px;
		margin-top:27px;
}

.configuration_modal h3 {
		font-family:"SFProDisplay-Light", Arial, Helvetica, sans-serif;
		font-weight:500;
		letter-spacing:0.03em;
		font-size:18.5px;
		color:#2252ff;
		text-align:left;
		margin:0px 0px 5px 0px;
}

.configuration_modal p {
		font-family:"SFProDisplay-Light", Arial, Helvetica, sans-serif;
		text-transform:capitalize;
		font-weight:400;
		letter-spacing:0.03em;
		font-size: 16px;
		line-height: 20px;
		text-align: left;
		margin: 3px 0px 10px 0px;
		padding: 0px;
		color: #666;
		width:300px;
}

.configuration_modal p.normal {
		text-transform: none;
}

.configuration_modal .box {
		margin: 15px 0px 0px 0px;
		padding: 16px 20px 15px 20px;
		background-color: #fff;
		border: 1px solid #d2d2d2;
		border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		height:50px;
}

.note {
		margin: 15px 0px 0px 0px;
		padding: 16px 13px 7px 20px;
		background-color: #f3f3f3;
		border: 1px solid #f3f3f3;
		border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		height: auto;
}


.configuration_modal .left {
		float: left;
		width: 50%;
		color: #2252ff;
}

.configuration_modal .left span {
		float: left;
}

.configuration_modal .left span.plus {
		margin-left: 3.5px;
		margin-right: 3.5px;
}

.configuration_modal .left .on_dark {
		display: none;
}

.configuration_modal .right {
		float: left;
		width: 50%;
}

.configuration_modal .right a {
		float: right;
		cursor: pointer;
		display: inline-block;
}

.bt_dark {
		margin-top: -23px;
		margin-right: -2px;
		display: block;
		border: 1.5px solid #2252ff;
		background-color: #fff;
		margin-left: 15px;
		display: inline-block;
		font-size: 30px;
		font-weight: normal;
		line-height: 45px;
		width: 45px;
		height: 45px;
		text-transform: uppercase;
		cursor: pointer;
		color: #fff;
		background-image: url(../svg/dark_blue.svg);
		background-repeat: no-repeat;
		background-position: 7.5px 8px;
		background-size: 27px 27px;
		transition: background-color 0.5s;
		transition: border-color 0.5s;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
}

.bt_dark:hover {
		border: 1.5px solid #0d1924;
		background-color: #0d1924;
		background-image: url(../svg/dark_white.svg);
}

.edit_bt {
		margin-top:-25px;
		display: block;
		border: 1.5px solid #2252ff;
		background-color: #fff;
		border-radius: 50%;
		margin-left: 15px;
		display: inline-block;
		font-size: 30px;
		font-weight: normal;
		line-height: 35px;
		width: 40px;
		height: 40px;
		text-transform: uppercase;
		cursor: pointer;
		background-image: url(../svg/pencil_blue.svg);
		background-repeat: no-repeat;
		background-position: 13px 13px;
		background-size: 15px 15px;
		transition: background 0.5s;
		transition: all 0.3s ease;
}

.edit_bt:hover {
		background-image: url(../svg/pencil_white.svg);
		border: 1.5px solid #2252ff;
		background-color: #2252ff;
}

.info_bt {
		font-size: 25px;
		font-weight: 500;
		line-height: 39px;
		margin-top: -21.2px;
		display: block;
		border: 1.5px solid #2252ff;
		color: #2252ff;
		background-color: #fff;
		border-radius: 50%;
		margin-left: 15px;
		display: inline-block;
		width: 40px;
		height: 40px;
		text-transform: uppercase;
		text-align: center;
		cursor: pointer;
		transition: all 0.3s ease;
}

.info_bt:hover {
		color: #fff;
		border: 1.5px solid #2252ff;
		background-color: #2252ff;
}

/* Modal box */

.modal_box {
		position: fixed;
		background-color: #fff;
		z-index: 16000000;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		display: none;
}

.close_modal {
		font-size: 30px;
		font-weight: normal;
		line-height: 44px;
		z-index: 10000;
		bottom: 15px;
		right: 17px;
		position: fixed;
		border-radius: 50%;
		display: block;
		width: 44px;
		height: 44px;
		border: none;
		margin-left: 280px;
		text-transform: uppercase;
		cursor: pointer;
		color: #fff;
		box-shadow: 0 0 2px #999;
		outline: none;
		background-image: url(../svg/close_white.svg);
		background-color: #d9534f;
		transform: rotate(0deg);
		background-repeat: no-repeat;
		background-position: 16px 16px;
		background-size: 14px 14px;
		transition: background 0.5s;
		transition: all 0.3s ease;
}

/* Scrollbar custom style */

ul.listlanguages::-webkit-scrollbar {
 width:5px;
 background-color:#fff;
}
 ul.listlanguages::-webkit-scrollbar-thumb {
 background-color:#c1c1c1;
}
 ul.listlanguages::-webkit-scrollbar {
 width:5px;
 background-color:#fff;
}
 ul.listlanguages::-webkit-scrollbar-thumb {
 background-color:#c1c1c1;
}

/* Languages list */


.languagesearch {
		font-family: "SFProDisplay-Light", Arial, Helvetica, sans-serif;
		line-height: 59px;
		height: 59px;
		font-weight: 400;
		font-size: 17px;
		letter-spacing:0.03em;
		width: 100%;
		margin: 0%;
		border: 0;
		border-bottom: 1px solid #d2d2d2;
		outline: 0;
		color: #666;
		padding-left: 55px;
		background-color: #fff;
		background-image: url(../svg/search_grey.svg);
		background-repeat: no-repeat;
		background-position: 20px 20px;
		background-size: 20px 20px;
}

#languagemodal ul {
		position: absolute;
		width: 100%;
		height: 70%;
		overflow-y: auto;
		padding-bottom:59px;
}

#languagemodal ul li {
		width:100%;
		display:block;
}

#languagemodal ul li a {
		font-size:17px;
		font-weight:400;
		letter-spacing:0.03em;
		color: #4c4c4c;
		cursor: pointer;
		width: 100%;
		margin: 0px;
		display: block;
		border-bottom: 1px solid #d2d2d2;
		line-height: 61px;
		height: 61px;
		text-transform: capitalize;
		transition: background-color 0.2s ease;
}

#languagemodal li a i {
		display: none;
}

#languagemodal ul li a:hover {
		background: #f4f4f4;
}

#languagemodal ul li a.active {
		cursor: not-allowed;
		color: #2252ff;
		background: #f4f4f4;
		background-image: url(../svg/tick_blue.svg);
		background-size: 60px 20px;
		background-position: right 20px;
		background-repeat: no-repeat;
}

#languagemodal ul li a img {
		display: block;
		width: 40px;
		height: 40px;
		float: left;
		margin-left: 20px;
		margin-right: 20px;
		margin-top: 9.5px;
		-webkit-border-radius: 11px;
		-moz-border-radius: 11px;
		border-radius: 11px;
}

#languagemodal ul li img.ca {
		margin-top: 16px;
		width: 40px;
		height: 26px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px
}

#languagemodal .z {
		display: none;
}

/* Reset search */

.resetsearch {
		display: none;
		cursor: pointer;
		position: fixed;
		right: 0px;
		top: 0px;
		width: 60px;
		height: 57px;
		background-image: url(../svg/reset_input_grey.svg);
		background-repeat: no-repeat;
		background-position: 22px 21.5px;
		background-size: 16px 16px;
		z-index: 10;
		opacity: 0.5;
}

.resetsearch:hover {
		background-image: url(../svg/reset_input_blue.svg);
		opacity: 1.0;
}

/* Not found */


.notfound {
		display: none;
		font-family: Roboto, Arial, Helvetica, sans-serif;
		font-weight: 400;
		font-size: 21px;
		text-align: center;
		color: #666;
		margin-top: 150px;
}




/* Options  */

#options {
		position:absolute;
		width:100%;
		height:100%;
		background-color:#fff;
}

#options .box {
		width:100%;
		height:100%;
		overflow-x:hidden;
}

#options h2 {
		font-family:"SFProDisplay-Light", Arial, Helvetica, sans-serif;
		font-weight:400;
		font-size:21px;
		letter-spacing:0.03em;
		color:#2252ff;
		text-align:center;
		margin-top:27px;
		margin-bottom:20px;
}


#options ul {
		float: left;
		width: 100%;
		margin-bottom: 50px;
		border-top:#d2d2d2 1px solid;
}

#options ul li {
		width:100%;
		line-height:59px;
		height:59px;
		border-bottom:#d2d2d2 1px solid;
}


#options ul li a {
		font-family:"SFProDisplay-Light", Arial, Helvetica, sans-serif;
		font-size: 18px;
		letter-spacing:0.03em;
		font-weight:400;
		color:#4c4c4c;
		cursor:pointer;
		padding-left:7%;
		width:93%;
		margin:0px;
		display:block;
		line-height:59px;
		height: 59px;
		transition:background-color 0.2s ease;
}

#options ul li a:hover {
		background-color:#f4f4f4;
		color: #2252ff;
}

#options ul li a.active {
		cursor: not-allowed;
		color: #2252ff;
		background: #f4f4f4;
		background-image: url(../svg/tick_blue.svg);
		background-size:60px 20px;
		background-position: right 20px;
		background-repeat: no-repeat;
}
